@page "/update-user-detail/{userId:int}"

@inject NavigationManager NavigationManager
@inject IUserService UserServices
@inject IUserProfileService UserProfileServices

<PageTitle>Update detail</PageTitle>

<EditForm Model="@user" OnValidSubmit="Update">
	<DataAnnotationsValidator />
	<div class="mb-3">
		<label for="FirstName" class="form-label">First Name</label>
		<div class="col-md-4">
			<InputText class="form-control" @bind-Value="userProfile.User.FirstName" />
		</div>
		<ValidationMessage For="@(() => userProfile.User.FirstName)" />
	</div>
	<div class="mb-3">
		<label for="LastName" class="form-label">Last Name</label>
		<div class="col-md-4">
			<InputText class="form-control" @bind-Value="userProfile.User.LastName" />
		</div>
		<ValidationMessage For="@(() => userProfile.User.LastName)" />
	</div>
	<div class="mb-3">
		<label for="UserName" class="form-label">User Name</label>
		<div class="col-md-4">
			<InputText class="form-control" @bind-Value="userProfile.UserName" />
		</div>
		<ValidationMessage For="@(() => userProfile.UserName)" />
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<InputDate type="date" @bind-Value="userProfile.BirthDate" />
			</div>
			<ValidationMessage For="@(() => userProfile.BirthDate)" />
		</div>
	</div>
	<div>
		<div class="mb-3">
			<label for="Height" class="form-label">Height</label>
			<div class="col-md-4">
				<InputNumber class="form-control" @bind-Value="userProfile.Height"/>
			</div>
		</div>
	</div>
</EditForm>

@code {
	[Parameter]
	public int userId { get; set; }
	protected UserEntity user = new();
	protected UserProfileEntity userProfile = new();

	protected override async Task OnParametersSetAsync()
	{
		var userList = UserProfileServices.GetAllUserProfiles();
		userProfile = userList.Where(x => x.Id == userId).FirstOrDefault();
	}

	protected async Task Update()
	{
		if (user.Id < 1)
		{
			return;
		}

		UserProfileServices.UpdateUserProfile(userProfile);
		NavigationManager.NavigateTo($"/user-detail/{user.Id.ToString()}");
	}

	protected void Cancel()
	{

	}
}